<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="game">
  <h3>Let's play COUNTDOWN!</h3>

  <p> <%= @letters %> <p>

  <p>What is the longest word you can find?</p>
</div>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="letters">
  <input class="btn btn-dark" type="button" value="Play!">
</form>
